<header class="ms-welcome__header ms-bgColor-neutralLighter ms-u-fadeIn500">
    <img width="244" height="68" src="../../../assets/logo-filled.png" alt="Contoso Task Pane Add-in" title="Contoso Task Pane Add-in" />
    <h1 class="ms-fontSize-su ms-fontWeight-light ms-fontColor-neutralPrimary">{{welcomeMessage}}</h1>
</header>
<main class="ms-welcome__main">
    <h2 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-neutralPrimary ms-u-slideUpIn20"> In Sekunden eine Klageschrift analysieren und die passende Erwiederung erstellen </h2>   
    <br />
    <br />
    <p class="ms-font-l">Klageschrift lesen <b>Read</b>.</p>
    <p class="ms-font-l">Erwiderung erstellen <b>Schreiben</b>.</p>
    <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">
        <span class="ms-Button-label">Read</span>
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
    </div>
    <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="readText()">
        <span class="ms-Button-label">Schreiben</span>
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
    </div>
</main>